.outer-bar-container {                  
    position: relative;     
    border-radius: 12px;
    cursor: pointer;
    width: 15.7em;    
    height: 1.5em;
    box-shadow: 1px 1px 5px 0px #a8a8a8;   
    margin-bottom: 5px;    
    outline: transparent;            
    /* border: 2px solid rgb(187, 187, 187); */
}    
.inner-bar-container {
    position: absolute;
    width: 96.5%;
    height: 75%;    
    top: 12.5%;
    left: 1.75%;
    border-radius: 10px;
    overflow: hidden;
    background-color: #d1d0d0;    
}
.svg-rect-container {    
    height: 100%;
    width: 100%;        
}
.svg-bar {
    height: 100%;
    stroke: none;      
    cursor: pointer;       
    stroke: none;
    stroke-width: 0px;
    transition: fill 1.5s ease-in-out 0s, 
                opacity 0.1s ease-in 0s,
                width 1.5s ease-in-out 0s,
                x 1.5s ease-in-out 0s;                
}