
/* #live-demo - is id of wrapper div of live demo block */
/* styled-select */

#live-demo {
    position: relative;
    overflow: initial;
}

#display_sitetran_translate_element {
  box-shadow: 0px 7px 20px -5px rgb(173, 173, 173);
  border-radius: 4px;
}

#live-demo .styled-select #display_sitetran_translate_element select {   
  width: auto;
  margin: 0;
  color: #787878;  
  padding: 5px 8px;
  border: none;  
  background: none;
  -moz-appearance: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-appearance: none;
  appearance: none;  
  padding-right: 24px;
}

#live-demo .styled-select #display_sitetran_translate_element select:focus {
  outline: none;
}

/*
#live-demo .styled-select #display_sitetran_translate_element::after {
  content: '';
  background: url("http://c.sitetran.com/down-caret.svg") no-repeat 90% 50%;
  height: 10px;
  width: 10px;
  display: block;
  z-index: 4;
  pointer-events: none;
  position: absolute;
  top: 52%;
  transform: translateY(-50%);
  right: 8px;
}
*/

body[dir="RTL"] #live-demo .styled-select #display_sitetran_translate_element select {
  padding-right: 8px;
  padding-left: 24px;
}

body[dir="RTL"] #live-demo .styled-select #display_sitetran_translate_element::after {
  right: auto;
  left: 10px;
}

#live-demo .styled-select #display_sitetran_translate_element { 
  background-color: white;
  position: relative;
  border: 1px solid #A6A6A6;
  box-shadow: 1px 1px 3px 0 rgba(93, 93, 93, 0.1);
  overflow: hidden;
  border-radius: 5px;
}

#live-demo #display_sitetran_translate_wrapper.styled-select {
  display: flex;
  align-items: center;
  z-index: 2147483647;
}

/* original select */
#live-demo .original-select #display_sitetran_translate_element select { 
  width: auto;
  min-width: 81px;
}

#live-demo #display_sitetran_translate_wrapper.original-select {
  display: flex;
  align-items: center;
  z-index: 2147483647;
}

#live-demo .original-select #display_sitetran_translate_element {
  z-index: 2147483647;
}

#live-demo .original-select #display_sitetran_translate_element::after {
    content: initial;
}


  #live-demo .display_sitetran_translate_element_btn:active {
    background-color: #e8eaed;
    box-shadow: 0 1px 2px 0 rgba(60,64,67,.3), 0 2px 6px 2px rgba(60,64,67,.15);
  }

  /*
  #live-demo .display_sitetran_translate_element_btn::after {
    content: "";
    right: 9px;
    top: 50%;
    transform: translateY(-50%);
    position: absolute;
    flex-shrink: 0;
    background: url("http://c.sitetran.com/down-caret.svg") no-repeat 90% 50%;
    height: 10px;
    width: 10px;
    display: block;
    z-index: 4;
    pointer-events: none;
    bottom: -1px;
  }
  */

  body[dir="RTL"] #live-demo .display_sitetran_translate_element_btn {
    padding-right: 9px;
    padding-left: 25px;
  }

  body[dir="RTL"] #live-demo .display_sitetran_translate_element_btn::after {
    right: auto;
    left: 9px;
  }

  #live-demo .display_sitetran_translate_list {
    list-style: none;
    margin: 0;
    padding: 0;
    position: absolute;
    left: 0;
    background-color: #fff;
    width: 100%;
    box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.3),
      0 2px 6px 2px rgba(60, 64, 67, 0.15);
    max-height: 304px;
    outline: 0;
    overflow-y: auto;
    min-width: fit-content;
    border-radius: 4px;
    z-index: 12;
  }
  
  #live-demo .display_sitetran_translate_list::-webkit-scrollbar {
    height: 8px;
    width: 8px;
  }

  #live-demo .display_sitetran_translate_list::-webkit-scrollbar-thumb {
    background: rgba(128, 134, 139, 0.26);
    border-radius: 8px;
  }

  #live-demo .display_sitetran_translate_list::-webkit-scrollbar-corner {
    background: 0;
  }
  #live-demo #display_sitetran_translate_element { 
    position: relative;
    width: fit-content;
}

#live-demo #display_sitetran_toggle { 
    margin-right: 9px;
    margin-left: 9px;
  }

#live-demo #display_sitetran_translate_wrapper {
    display: flex;
    align-items: center;
    z-index: 2147483647;
    position: absolute;
}
  
  #live-demo .list .dropdown_opened {
      display: block;      
}
  
  #live-demo .list .dropdown_closed {
      display: none;
}